/* universal selector */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* semantic */
body {
	font-family: 'Poppins', sans-serif;
	line-height: 1;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
}

header {
	text-align: center;
	background-color: var(--primary-color);
	color: var(--secondary-color);
	height: 15vh;
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	position: relative;
}
header > * {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2vmin;
	font-size: calc(14px + 1vmin);
}
main {
	height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transform: translate3d(0, 0, 0);
	z-index: 2; /*prevents clock from overlapping on screens with small height */
}

footer {
	height: 5vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--primary-color);
}

button,
button:active,
button:focus,
button:focus-within,
button:target,
button:hover,
button:visited,
button:focus-visible {
	outline: none;
}

i,
i:active,
i:focus,
i:focus-within,
i:target,
i:hover,
i:visited,
i:focus-visible {
	outline: none;
}

/* classes */

/* header */

.current-date {
	font-size: calc(16px + 5vmin);
	margin-right: 1vmin;
}
.date-container {
	background-color: transparent;
}
.currentDay {
	font-size: calc(11px + 3vmin);
}
.currentMonthAndYear {
	font-size: calc(5px + 1.5vmin);
	font-family: 'Poppins', sans-serif;
	letter-spacing: 0.5vmin;
	font-weight: bold;
}
.location {
	font-size: 1.5vmin;
	font-family: 'Poppins', sans-serif;
	letter-spacing: 0.3vmin;
	line-height: 1.5;
}

/*  right */
#weather-container {
	display: flex;
	margin: 0;
}
#weather-temperature {
	font-size: 1.5vmin;
	font-weight: bold;
	font-family: 'Poppins', sans-serif;
	letter-spacing: 0.5vmin;
}

#weather-description {
	white-space: wrap;
}
/* main */

.description {
	white-space: pre-wrap;
}

.time-block {
	text-align: center;
	border-radius: 15px;
}

article {
	white-space: pre-wrap;
	margin-top: 1px;
	height: 8vh;
	width: 50vw;
	display: flex;
	justify-content: center;
	align-items: stretch;
}

.past {
	background-color: #d3d3d3;
	color: white;
}

.present {
	background-color: #ff6961;
	color: white;
}

.future {
	background-color: #77dd77;
	color: white;
}

.timeblock-hour {
	background-color: var(--primary-color);
	color: var(--secondary-color);

	border-top: 1px dashed var(---color);
	width: 10vw;
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	padding: 1vmin;
	font-size: 2vmin;
	font-family: 'Montserrat', sans-serif;
}

.timeblock-textarea {
	flex: 1;
	background-color: var(--secondary-color);
	color: var(--primary-color);
	border: none;
	resize: none;
	border-left: 1px solid var(--primary-color);
	border-right: 1px solid var(--primary-color);
	border-top: 1px solid var(--primary-color);
	border-bottom: 1px solid var(--primary-color);
	padding: 1vmin;
	font-size: calc(12px + 1vmin);
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}
.timeblock-textarea:focus-visible {
	outline: none;
}
.timeblock-save {
	border: none;
	border-top-right-radius: 30%;
	border-bottom-right-radius: 30%;
	background-color: var(--primary-color);
	color: var(--tertiary-color);

	font-size: calc(16px + 2vmin);
	width: calc(40px + 1vw);
	position: relative;
}

.timeblock-save:hover i {
	font-size: 4vmin;
	color: var(--secondary-color);
	transition: all 0.3s ease-in-out;
}
