:root {
	--primary-color: #8f5fc2;
	--secondary-color: hsl(0, 0%, 100%);
	--tertiary-color: rgb(252, 239, 255);
	--past: #f5de84;
	--past-text: #40453b;
	--present: #b478f5;
	--present-text: #ffffff;
	--future: #77c255;
	--future-text: #000000;
	--clock-hour-hand: #8f5fc2;
	--clock-minute-hand: #8f5fc2;
	--clock-second-hand: red;
	--clock-face: var(--secondary-color);
}

html {
	transition: background-color 0.5s ease-in; /* so when the background color changes, it will fade in */
}

html.dark {
	transition: background-color 0.5s ease-in; /* so when the background color changes, it will fade in */
	--primary-color: #69468f;
	--secondary-color: #ffffff;
	--tertiary-color: #38254d;
	--past: #c2b069;
	--past-text: #000000;
	--present: #8f5fc2;
	--present-text: #fff;
	--future: #588f3f;
	--future-text: #000000;
	--clock-hour-hand: var(--secondary-color);
	--clock-minute-hand: var(--secondary-color);
	--clock-second-hand: red;
	--clock-face: var(--tertiary-color);

	background-color: var(--tertiary-color);
}

.toggle {
	/* toggle dark mode button */
	background-color: var(--primary-color);
	color: var(--secondary-color);
	border: 0;
	border-radius: 4px;
	cursor: pointer;
}

.toggle:focus {
	outline: none;
}

.bulb {
	font-size: 4vh;
}
